.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  justify-content: center;
}

.content {
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 100px 92px;
  @media (max-width: 760px) {
    padding: 25px 23px;
  }
}

.titleTextWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navigationWrapper {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;

  @media (max-width: 1116px) {
    gap: 16px;
  }
  @media (max-width: 1020px) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
  }
  @media (max-width: 580px) {
    width: 100%;
  }
}
.textWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px auto;
  width: 100%;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}
.titleBorderActive {
  border-bottom: 1px solid #252525;
  width: 167px;
}
.titleBorder {
  border-bottom: 1px dashed #808080;
  width: 100%;
}

//////////////////

.collageBtnWrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  @media (max-width: 760px) {
    gap: 24px;
  }
}

.collage {
  display: grid;
  max-width: 100%;
  gap: 16px;
  justify-content: center;
  align-items: center;
  position: relative;
  grid-template-areas:
    "first second tall"
    "wide wide tall";

  @media (max-width: 1000px) {
    gap: 8px;
  }
  @media (max-width: 750px) {
    display: flex;
    flex-direction: column;
  }
}
.firstPic {
  grid-area: first;
  object-fit: cover;
  width: 100%;

  @media (max-width: 750px) {
    height: 100%;
  }
}
.secondPic {
  grid-area: second;
  object-fit: cover;
  width: 100%;

  @media (max-width: 750px) {
    height: 100%;
  }
}
.tallPic {
  grid-area: tall;
  object-fit: cover;
  width: 100%;

  @media (max-width: 750px) {
    height: 100%;
  }
}

.widePic {
  grid-area: wide;
  object-fit: cover;
  width: 100%;

  @media (max-width: 750px) {
    height: 100%;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;
  width: 408px;
  height: 56px;
  background: #c29e74;
  border: none;
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.05em;

  color: #ffffff;
  cursor: pointer;

  &:hover {
    background: #302e26;
  }
  @media (max-width: 1250px) {
    width: 306px;
    height: auto;
  }
  @media (max-width: 760px) {
    font-size: 22px;
    width: 100%;
    height: 56px;
  }
}
