.container {
  margin: 25% auto;
  max-width: 514px;
  height: 1202px;
  background-color: white;
  justify-content: center;
  align-items: center;

  @media (max-width: 760px) {
    width: 100%;
    height: auto;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 100%;
}
.titleIconCloseWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.closeIcon {
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 32px;
  @media (max-width: 760px) {
    margin-bottom: 16px;
  }
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
  @media (max-width: 760px) {
    margin-bottom: 16px;
  }
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
  @media (max-width: 760px) {
    margin-bottom: 12px;
  }
}
.inputName,
.inputEmail,
.inputPhone,
.inputCalendar,
.categories,
.studios {
  padding: 12px 24px;
  max-width: 466px;
  max-height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: Lora;
  cursor: pointer;
}
////CUSTOM ARROW IN SELECT
.categories,
.studios {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
}
.categories::-ms-expand,
.studios::-ms-expand {
  display: none;
}
.selectWrapper {
  position: relative;
}
.selectWrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background: url("/selectArrow.svg") no-repeat;
  pointer-events: none;
}
/////
.map {
  max-width: 466px;
  max-height: 466px;
  border: none;
  outline: none;
  @media (max-width: 760px) {
    display: flex;
    width: 100%;
    height: 100%;
  }
  @media (max-width: 400px) {
    display: none;
  }
}

.checkboxWrapper {
  display: flex;
  gap: 12px;
  margin: 24px 0;
  @media (max-width: 760px) {
    margin: 12px 0;
  }
}
.textPolicy {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.underline {
  text-decoration: underline;
}

///////////////////////CUSTOM CHECKBOX///////////////////
.custom_checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom_checkbox + label {
  display: inline-flex;
  align-items: flex-start;
  user-select: none;
}
.custom_checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom_checkbox:checked + label::before {
  border-color: black;
  background-size: cover;
  background-image: url("/checkbox.svg");
}

.custom_checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: black;
}

.checkboxSize {
  width: 20px;
  height: 20px;
}

//////////////////////////////////////////////
.orderButton {
  padding: 16px 32px;
  max-width: 466px;
  max-height: 56px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  background: #c29e74;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background: #302e26;
  }
}
