.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  justify-content: center;
}

.content {
  width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 120px 92px 100px;

  justify-content: flex-start;
  @media (max-width: 1000px) {
    padding: 60px 46px 50px;
  }
  @media (max-width: 760px) {
    flex-direction: column;
    padding: 30px 23px 25px;
    gap: 30px;
  }
}
.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 27px;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.listTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
}

.listWrapper span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
