.container {
  display: flex;
  width: 100%;
  background-color: #302e26;
  box-sizing: border-box;
  color: white;
  justify-content: center;
}

.content {
  width: 1440px;
  height: 900px;
  display: grid;
  grid-template-columns: 1fr 689px;
  @media (max-width: 1380px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 1150px) {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
  }
}

.heroImg {
  background: url(/backgroundHeroImg.png) no-repeat;

  @media (max-width: 700px) {
    background-size: contain;
    width: 100%;
    height: auto;
  }
}

.description {
  display: flex;
  flex-direction: column;
  padding: 154px 92px 0 0;
  gap: 34px;

  @media (max-width: 1380px) {
    justify-content: center;
    padding: 77px 46px 30px 0;
    gap: 25px;
  }

  @media (max-width: 1150px) {
    align-items: center;

    padding: 20px 40px 40px;
  }
  @media (max-width: 700px) {
    padding: 10px 40px 30px;
  }
  @media (max-width: 500px) {
    padding: 10px 30px 30px;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}
