.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  justify-content: center;
}

.content {
  display: flex;
  padding: 120px 92px 100px;
  width: 1440px;
  @media (max-width: 1000px) {
    padding: 60px 46px 50px;
  }
  @media (max-width: 760px) {
    padding: 30px 23px 25px;
  }
  @media (max-width: 500px) {
    flex-direction: column;
    gap: 30px;
  }
}

.navBar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 122px;
  @media (max-width: 1000px) {
    width: 100%;
    margin-right: 66px;
  }
  @media (max-width: 750px) {
    margin-right: 33px;
  }
}
.navTitleActive {
  width: 302px;
  height: 48px;
  padding: 12px 24px;
  align-items: flex-start;
  background: #c29e74;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    background-color: black;
  }
  @media (max-width: 1000px) {
    width: 100%;
    height: auto;
  }
  @media (max-width: 500px) {
    font-size: 18px;
    line-height: 26px;
    padding: 6px 12px;
  }
}
.navTitle {
  width: 302px;
  height: 48px;
  padding: 12px 24px;
  align-items: flex-start;
  background: #f5f5f5;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    background-color: black;
    color: white;
  }
  @media (max-width: 1000px) {
    width: 100%;
    height: auto;
  }
  @media (max-width: 500px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 24px;
}
.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
  width: auto;
  @media (max-width: 760px) {
    margin-bottom: 12px;
  }
}

.inputName,
.inputEmail {
  padding: 12px 24px;
  max-width: 832px;
  max-height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: Lora;
  @media (max-width: 1440px) {
    width: 100%;
  }
}

.inputTextArea {
  padding: 12px 24px;
  max-width: 832px;
  max-height: 130px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: Lora;
  @media (max-width: 1440px) {
    width: 100%;
  }
}

.orderButton {
  padding: 16px 32px;
  max-width: 832px;
  max-height: 56px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  background: #c29e74;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background: #302e26;
  }
}
