.container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  position: static;
  z-index: 100;
  background-color: white;
  justify-content: center;

  @media (max-width: 760px) {
    height: auto;
  }
}

.content {
  padding: 20px 92px;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1000px) {
    padding: 10px 46px;
  }

  @media (max-width: 760px) {
    padding: 5px 23px;
  }
}

.logo {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}

.navigation_list {
  display: flex;
  list-style-type: none;
  gap: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  justify-content: flex-end;
  @media (max-width: 1000px) {
    gap: 16px;
  }

  @media (max-width: 760px) {
    gap: 8px;
    flex-direction: column;
  }
}
